<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" />
	</Found>
	<NotFound>
		<h3>Страница не найдена!</h3>
		<p>Такой страницы не существует.</p>
	</NotFound>
</Router>